{% extends 'base.html' %}
{% block title %}
  detaile page for posts
{% endblock %}
{% block content %}
{% if post.auther== current_user %}
<a href="{{url_for('posts.delete_post',post_id=post.id)}}" class=" btn btn-danger"> deleted project</a>
<a href="{{url_for('posts.update',post_id=post.id)}}" class=" btn btn-secondary">updated project</a>
{% endif%}

  <h3>{{ post.title }}</h3>
  <small>{{post.auther.username }} {{post.created_at.strftime('%Y-%m-%d')}}</small>
<p>{{post.content}}</p>
 
{% endblock %}